div {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 50%;
    background-color: #607d8b;
    border-bottom: 5px solid black;
}

div::before {
    position: absolute;
    content: "Elzero";
    color: white;
    font-family: arial;
    bottom: 5px;
    left: 5px;
}

div::after {
    content: "";
    position: absolute;
    top: -71.5px;
    left: 29px;
    width: 139px;
    height: 139px;
    background-color: black;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(45deg);
}