div
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    color: #ff5722;
    font-family: arial;
    font-weight: bold;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 5px 0 0 0 #ff5722 , -5px 0 0 0 #03a9f4 ;
}
