.parent {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    font-family: arial;
}

.parent>div {
    margin-bottom: 20px;
    width: 300px;
    height: 100px;
    background-color: #ddd;
}

@media (max-width: 767px) {
    .parent>div {
        width: calc(90%);
    }

    .parent>div h3 {
        font-weight: bold;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .parent>div {
        width: calc(90% / 2);
    }

    .parent>div h3 {
        color: red;
    }
}

@media (min-width: 1200px) {
    .parent>div {
        width: calc(90% / 4);
    }

    .parent>div h3 {
        color: #009688;
    }
}