.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
}
.grid
{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2 , auto);
    gap: 10px;
    align-content: space-between;
}
.grid div
{
    display: inline-block;
    text-align: center;
    background-color: #e91e63;
    color: white;
    font-family: arial;
    font-weight: bold;
}